#aboutUs {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.aboutus_area {
  display: inline;
  float: left;
  padding-right: 30px;
  width: 100%;
}
.aboutus_area p {
  line-height: 30px;
  font-size: medium;
}
.titile {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.titile:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 50px;
  height: 5px;
}
.newsfeed_area {
  float: left;
  display: inline;
  width: 100%;
  padding-left: 15px;
}
.feed_tabs li {
  margin-bottom: -2px;
}

.newsfeed_area img {
  width: 600px;
  border: 1px solid rgb(77, 8, 122);
  border-radius: 15px;
}
