.background {
  height: 924px;
  width: 2100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: none;
  position: absolute; /* position: fixed; yerine absolute kullanıyoruz */
  object-fit: cover;
  z-index: -1; /* Resmin altta kalmasını istediğiniz elementin z-index değerini düşük belirleyin */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 500ms ease-in-out;
}
.body {
  overflow-x: hidden;
}
body {
  /* overflow-y: hidden; Hide vertical scrollbar */
  overflow-x: hidden;
}
